language: node_js

node_js:
- '8.12.0'

branches:
  only:
  - blog                # 只监测 source 分支上的 commit

before_install:
- npm install -g hexo-cli # 安装 hexo

install:
- npm install             # 安装额外的插件

script:
- hexo generate
# - hexo deploy

after_success:
- cd ./public
- git init
- git config --global user.name "callmexss"
- git config --global user.email "callmexss@126.com"
# - sed -i'' "/^ *repo/s~github\.com~${travis_ci}@github.com~" _config.yml
- git add .
- git commit -m 'Updete'
- git push --force --quiet "https://${travis_ci}@${GH_REF}" master:master

env:
  global:
    - GH_REF: github.com/callmexss/callmexss.github.io.git
