language: node_js
node_js: 8.12.0

cache:
  directories:
    - node_modules


install:
  - npm install


script:
  - hexo g

after_script:
  - cd ./public
  - git init
  - git config user.name "callmexss"
  - git config user.email "callmexss@126.com"
  - git add .
  - git commit -m "Update docs"
  - git push --force --quiet "https://${travis_ci}@${GH_REF}" master:master

branches:
  only:
    - blog
env:
 global:
   - GH_REF: github.com/callmexss/callmexss.github.io.git
